doctype html
html
	title Hello
	style
		include style.css
body
	h1 Logowanie przebiegło pomyślnie
	img(src="https://images.pexels.com/photos/683381/pexels-photo-683381.jpeg?auto=compress&cs=tinysrgb&h=350")